<div class="card mt-4" style="background-color: #ffffff">
  <div class="card-body p-4">
    <h3 class="card-title mb-5">Configuración del servicio</h3>

    <form [formGroup]="form" (ngSubmit)="submit($event)">
      <div class="row mb-5">
        <div class="col">
          <p class="fs-4">Tipo de Valoración:</p>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select formControlName="valoracion" required>
              <mat-option value="Valoración tradicional">
                Valoración tradicional
              </mat-option>
              <mat-option value="Valoración con duración">
                Valoración con duración
              </mat-option>
            </mat-select>
            <!-- <mat-hint align="end">Obligatorio *</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col">
          <p class="fs-4">Tipo de Frecuencia:</p>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select formControlName="frecuencia">
              <mat-option value="Método 1"> Método 1 (Por rangos) </mat-option>
              <mat-option value="Método 2"> Método 2 (Poisson) </mat-option>
              <mat-option value="Método 3"> Método 3 (Binomial) </mat-option>
            </mat-select>
            <!-- <mat-hint align="end">Obligatorio *</mat-hint> -->
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
