<nav class="navbar navbar-light" style="background-color: #ffffff">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        [src]="
          'https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Bancolombia_S.A._logo.svg/1280px-Bancolombia_S.A._logo.svg.png'
            | domseguro
        "
        alt="Logo Bancolombia"
        height="25"
        class="d-inline-block align-text-top"
      />
      <span class="navbar-brand mb-0 h1" style="margin-left: 10px">
        Servicio de Valoración de Riesgos Operacionales
      </span>
    </a>
  </div>
</nav>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-config-servicio></app-config-servicio>
    </div>
    <div class="col">
      <app-insumos></app-insumos>
    </div>
  </div>
</div> -->

<mat-stepper [linear]="true" #stepper>
  <!-- Step 1 -->
  <mat-step [stepControl]="form">
    <div class="card mt-4" style="background-color: #ffffff">
      <div class="card-body p-4">
        <h3 class="card-title mb-5">Configuración del servicio</h3>

        <form [formGroup]="form" (ngSubmit)="submit($event)">
          <div class="row mb-5">
            <div class="col">
              <p class="fs-4">Tipo de Valoración:</p>
              <mat-form-field appearance="fill">
                <mat-label>Selecciona una opción</mat-label>
                <mat-select formControlName="valoracion" required>
                  <mat-option value="Valoración tradicional">
                    Valoración tradicional
                  </mat-option>
                  <mat-option value="Valoración con duración">
                    Valoración con duración
                  </mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Obligatorio *</mat-hint> -->
              </mat-form-field>
            </div>

            <div class="col">
              <p class="fs-4">Tipo de Frecuencia:</p>
              <mat-form-field appearance="fill">
                <mat-label>Selecciona una opción</mat-label>
                <mat-select formControlName="frecuencia">
                  <mat-option value="Método 1">
                    Método 1 (Por rangos)
                  </mat-option>
                  <mat-option value="Método 2"> Método 2 (Poisson) </mat-option>
                  <mat-option value="Método 3">
                    Método 3 (Binomial)
                  </mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Obligatorio *</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <!-- Step 2 -->
  <mat-step>
    <app-insumos></app-insumos>
  </mat-step>
  <!-- Step 3 -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Registros creados con éxito.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
