/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100vh;
  background-color: #f4f4f4;
  color: #2c2a29;
}

// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
