<div class="container">
  <div class="row">
    <div class="col">
      <h3>Impacto ($):</h3>
      <div>
        <hot-table
          [data]="dataSource"
          licenseKey="non-commercial-and-evaluation"
          height="auto"
          [colHeaders]="true"
          [rowHeaders]="false"
        >
          <hot-column data="rango" [readOnly]="true" title="Rango"></hot-column>
          <hot-column
            data="limite_inferior"
            title="Límite Inferior"
          ></hot-column>
          <hot-column
            data="limite_superior"
            title="Límite Superior"
          ></hot-column>
          <hot-column data="prob" title="Prob%"></hot-column>
        </hot-table>
      </div>
    </div>
    <div class="col">
      <h3>Duración (horas):</h3>
      <div>
        <hot-table
          [data]="dataSource2"
          licenseKey="non-commercial-and-evaluation"
          height="auto"
          [colHeaders]="true"
          [rowHeaders]="false"
        >
          <hot-column data="rango" [readOnly]="true" title="Rango"></hot-column>
          <hot-column
            data="limite_inferior"
            title="Límite Inferior"
          ></hot-column>
          <hot-column
            data="limite_superior"
            title="Límite Superior"
          ></hot-column>
          <hot-column data="prob" title="Prob%"></hot-column>
        </hot-table>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <article>
        <h2>Impacto ($):</h2>
        <table
          mat-table
          [dataSource]="dataSource"
          class="table table-striped table-sm"
        >
          <ng-container
            [matColumnDef]="col"
            *ngFor="let col of displayedColumns; let i = index"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ colNames[i] }}
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input
                  class="form-control"
                  type="number"
                  matInput
                  [(ngModel)]="element[col]"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </article>
    </div>
    <br />
    <div class="col">
      <article>
        <h2>Duración (horas):</h2>
        <table
          mat-table
          [dataSource]="dataSource2"
          class="table table-striped table-sm"
        >
          <ng-container
            [matColumnDef]="col"
            *ngFor="let col of displayedColumns; let i = index"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ colNames[i] }}
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input
                  class="form-control"
                  type="number"
                  matInput
                  [(ngModel)]="element[col]"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </article>
    </div>
  </div>
  <br />
  <div class="row">
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </div>
</div> -->
